{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="{% static 'main.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
</head>
<body>
	<header>
		<h1>Pizza</h1>
	</header>
	<nav>
		<ul>
			<li><a href="/">Главная</a></li>
			<li><a href="/about">О нас</a></li>
			<li><a href="/profile">Профиль</a></li>
			<li><a href="/basket">Корзина</a></li>
		</ul>
	</nav>
	<article>
		<div class="main">
			<p align="center">В вашей корзине нет продуктов</p>
		</div>
	</article>
</body>
</html>